<!DOCTYPE html>
<html>
<head>
    <title>Achievement Database</title>
</head>

<body>

    <h1>Achievement Database</h1>

    <h2>Add User</h2>

    <form action="/users/add" method="POST">
        <input
            type="text"
            name="Username"
            placeholder="Username"
            required
        >

        <input
            type="email"
            name="Email"
            placeholder="Email"
            required
        >

        <button type="submit">Add User</button>
    </form>

</body>
</html>