<!DOCTYPE html>
<html>
<head>

	<style>
		table{
			border-style: solid;
			border-collapse: collapse;
			width: 50%;
		}	
		th{
			background-color: rgb(238, 121, 121);
			text-align: left;
			padding: 10px;
		}
		td{
			padding: 10px;
		}
		tbody:nth-child(odd){
			background-color: rgb(249, 225, 225);
		}


	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Page</title>
</head>
<body>

	<div>
		<button><a href="/">Home</a></button>
	</div>

	<!--- Shows User Info --->
	<div id="userInfo"></div>
	<br>

	<div>
		<h3>Games Completion percentage:</h3>
		<table id="gamesCompletion">
			<tr>
				<th>Game</th>
				<th>Completion %</th>
				<th>Total</th>
			</tr>
		</table>
	</div>

	<!--- List of all earned achivements by user --->
	<div>
		<h3>Earned achievements:</h3>
		<table id="achievementsEarned">			
			<tr>
				<th>Achivement</th>
				<th>Game</th>
				<th>Points</th>
				<th>Date Unlocked</th>
			</tr>

	
	<!--- Lists all achievements available --->
	<div>
		<button style="background-color: rgb(49, 49, 49); 
						color: white; 
						padding: 5px;" 
						onclick="showAllAchievements()">
			<b>Add Achievement</b>
		</button>
		<div id="achievementList" style="float: right; margin-right: 25%;"></div>
	</div>
</body>
</html>

<script type="text/javascript">

	const userid = "{{ user_id }}"

	function showUserInfo(){
		let info = document.getElementById("userInfo");

		fetch(`/api/users/${userid}`)
			.then(response => response.json())
			.then(user => {
				info.innerHTML = 
					"<h2>User Page for " + user.Username + "</h2><br>" +
					"<b>User ID: </b>" + userid + "<br>" + 
					"<b>Email: </b>" + user.Email + "<br>" +
					"<b>Total Points: </b>" + user.TotalPoints + "<br>";
			})
		fetch(`/users/${userid}/achievement-count`)
			.then(response => response.json())
			.then(achievement => {
				info.innerHTML += " <b>Achievements unlocked: </b> " + achievement.UnlockedAchievements;
		})
	}

	function gameCompletion(){
		fetch(`/users/${userid}/completion`)
			.then(response => response.json())
			.then(games => {
				let comp = document.getElementById("gamesCompletion");

				games.forEach(game =>{
					if (game.UnlockedAchievements === 0) return; 
					comp.innerHTML += `
						<tr>
							<td>${game.GameName}</td>
							<td>${game.CompletionPercent}</td>
							<td>${game.UnlockedAchievements} / ${game.TotalAchievements}</td>
						</tr>
					`;
				})
		});
	}

	function showUnlockedAchievements(){
		fetch(`/users/${userid}/uachievement`)
			.then(response => response.json())
			.then(achievements => {
				let list = document.getElementById("achievementsEarned");

                achievements.forEach(achievement => {
                    list.innerHTML += `
                    <tr>
						<td>
							<a class="item"
								href="/achievements/${achievement.AchievementID}">
									 ${achievement.AchievementName}
							</a>
						</td>
						<td>
							<a class="item"
								href="/games/${achievement.GameID}">
									 ${achievement.GameName}
							</a>
						</td>
						<td> ${achievement.Points} </td>
						<td> ${achievement.UnlockDate}</td>  
					</tr>
                    `;
                });
				list.innerHTML += "</table></div>";
			})
	}

	function addAchievement()
	{
		fetch("/users/${userid}/achievements/${achievement.AchievementID}")
			.then(response => response.json())
			.then()
	};

	function showAllAchievements()
	{
		fetch(`/achievements`)
			.then(response => response.json())
			.then(achievements => {
			
			achievements.forEach(achievement => {
				let list = document.getElementById("achievementList");
				
				list.innerHTML += `
					<form action="/users/${userid}/achievements/${achievement.AchievementID}" method="POST"
						<label for="add">
						Achievement: ${achievement.AchievementName}<br>
						Game: ${achievement.GameName}<br>
						Points: ${achievement.Points}<br>
						<input type="submit">
					</form
					<br>
				</div>
				`;
			})
		});
	};

	showUserInfo();
	gameCompletion();	
	showUnlockedAchievements();


</script>
