<!DOCTYPE html>
<html>
<head>

	<style>
		#achievementsEarned{
			border-style: solid;
			border-collapse: collapse;
			width: 50%;
		}	
		th{
			background-color: rgb(238, 121, 121);
			text-align: left;
			padding: 10px;
		}
		td{
			padding: 10px;
		}
		tbody:nth-child(odd){
			background-color: rgb(249, 225, 225);
		}


	</style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Page</title>
</head>
<body>

	<!--- Shows User Info --->
	<div id="userInfo"></div>
	<br>

	<!--- List of all earned achivements by user --->
	<div>
		<h3>Earned achievements:</h3>
		<table id="achievementsEarned">			
			<tr>
				<th>Achivement</th>
				<th>Game</th>
				<th>Points</th>
				<th>Date Unlocked</th>
			</tr>
	</div>
	<!--- Lists all achievements available --->
	<div>
		<button style="background-color: rgb(49, 49, 49); color: white; padding: 5px;" onclick="showAchievements()"><b>Add Achievement</b></button>
		<div id="achievementList" style="float: right; margin-right: 25%;"></div>
	</div>
</body>
</html>

<script type="text/javascript">

	const userid = "{{ user_id }}"

	function showUserInfo(){
		fetch(`/api/users/${userid}`)
			.then(response => response.json())
			.then(user => {

				document.getElementById("userInfo").innerHTML = 
					"<h2>User Page for " + user.Username + "</h2><br>" +
					"<b>User ID: </b>" + userid + "<br>" + 
					"<b>Email: </b>" + user.Email + "<br>" +
					"<b>Achivements Earned: </b>" + user.TotalPoints;
			})
	}

	function showGamesAndAchievements(){
		fetch(`/users/${userid}/uachievement`)
			.then(response => response.json())
			.then(achievements => {
				let list = document.getElementById("achievementsEarned");

                achievements.forEach(achievement => {
                    list.innerHTML += `
                    <tr>
						<td>
							<a class="item"
								href="/achivements/${achievement.AchievementID}">
									 ${achievement.AchievementName}
							</a>
						</td>
						<td>
							<a class="item"
								href="/games/${achievement.GameID}">
									 ${achievement.GameName}
							</a>
						</td>
						<td> ${achievement.Points} </td>
						<td> ${achievement.UnlockDate}</td>  
					</tr>
                    `;
                });
				list.innerHTML += "</table>";
			})
	}

	function addAchievement()
	{
		fetch("/users/${userid}/achievements/${achievement.AchievementID}")
			.then(response => response.json())
			.then()
	};

	function showAchievements()
	{
		fetch(`/achievements`)
			.then(response => response.json())
			.then(achievements => {
			
			achievements.forEach(achievement => {
				let list = document.getElementById("achievementList");
				
				list.innerHTML += `
					<form action="/users/${userid}/achievements/${achievement.AchievementID}" method="POST"
					// <input type="hidden" value="${userid}">
					// <input type="hidden" value="${achievement.AchievementID}"
					<label for="add">
						Achievement: ${achievement.AchievementName}<br>
						Game: ${achievement.GameName}<br>
						Points: ${achievement.Points}<br>
						<input type="submit">
					</form
					<br>
				</div>
				`;
			})
		});
	};

	showUserInfo();
	showGamesAndAchievements();


</script>
